@import "tailwindcss";

@theme {
  /* Le decimos a Tailwind que use las variables de tu :root */
  --color-paygo-qr: var(--color-paygo-qr);
  --color-paygo-card: var(--color-paygo-card);
  --color-paygo-trans: var(--color-paygo-trans);
  --color-paygo-deb: var(--color-paygo-deb);
  --color-paygo-dark: var(--color-paygo-dark);
  
  --radius-paygo: 2.5rem;
}

:root {
  --color-paygo-qr: #22c55e;
  --color-paygo-card: #3b82f6;
  --color-paygo-trans: #f97316;
  --color-paygo-deb: #a855f7;
  --color-paygo-dark: #0f172a;
}