@import "tailwindcss";

@theme {
  /* Definimos los colores oficiales de Pay Go */
  --color-paygo-qr: #22c55e;      /* Verde */
  --color-paygo-card: #3b82f6;    /* Azul */
  --color-paygo-trans: #f97316;   /* Naranja */
  --color-paygo-deb: #a855f7;     /* Violeta */
  --color-paygo-dark: #0f172a;    /* Oscuro */
  
  /* Ajustamos los radios para que sean más modernos */
  --radius-paygo: 2.5rem;
}